{
  "name": "mojoconsole-plus",
  "description": "Grasscutter In Game Web Based Console",
  "version": "{{VERSION}}",
  
  "mainClass": "com.mojo.consoleplus.ConsolePlus",
  "authors": ["mingjun97"]
}